.header__account {
  display: flex;
  align-items: center;
}
.header__account--avatar {
  width: 100%;
  max-width: 76px;
  height: 76px;
  margin-right: 10px;
}
.header__account--avatar img {
  border-radius: 50%;
}
.header__account--social {
  display: flex;
  align-items: center;
}
.header__account--social .account__social--icon {
  margin-right: 6px;
}
.header__account--social .account__social--name a {
  font-family: "MulishBold", sans-serif;
  font-size: 22px;
  color: #040034;
  text-decoration: none;
}
.header__logout {
  display: flex;
  align-items: center;
}
.header__logout--btn a {
  font-size: 18px;
  border: 2px solid #040034;
  padding: 11px 27.5px;
  border-radius: 24.5px;
}
.header__logout--whatisit {
  cursor: pointer;
  background-color: #040034;
  border-radius: 50%;
  margin-left: 20px;
  position: relative;
}
.header__logout--whatisit img {
  padding: 11px 10px 11px 11px;
}
.header__logout--notif {
  position: absolute;
  top: -1px;
  right: -5px;
  width: 18px;
  height: 18px;
  background-color: #EA4C67;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logout--notif span {
  color: #ffffff;
  font-family: "PoppinsSemiBold", sans-serif;
  font-size: 12px;
}

.dashboard__inner {
  display: flex;
}
.dashboard__navigation {
  padding-top: 21px;
  padding-right: 33px;
  width: 100%;
  max-width: 310px;
  border-right: 1px solid #DAD9DE;
}
.dashboard__navigation--list {
  display: flex;
  flex-direction: column;
}
.dashboard__navigation--item {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 14px 75px 14px 30px;
  background: #ffffff;
  border: 0.5px solid #DAD9DE;
  border-radius: 9px;
  margin-bottom: 25px;
}
.dashboard__navigation--item:last-child {
  margin-bottom: 20px;
}
.dashboard__navigation--item.navigaton-item-active {
  box-shadow: 0 4px 4px rgba(4, 0, 52, 0.08);
}
.dashboard__navigation--item .navigation__item--title {
  margin-left: 17px;
}
.dashboard__navigation--item .navigation__item--title h2 {
  font-family: "MulishSemiBold", sans-serif;
  font-size: 20px;
  color: #040034;
}
.dashboard__navigation--information .navigation__information--title h4 {
  font-family: "MulishSemiBold", sans-serif;
  font-size: 16px;
  color: #040034;
}
.dashboard__navigation--information .navigation__information--desc {
  width: 100%;
  max-width: 247px;
}
.dashboard__navigation--information .navigation__information--desc p {
  font-family: "MulishRegular", sans-serif;
  font-size: 14px;
  color: #DAD9DE;
  line-height: 19px;
}
.dashboard__navigation--information .navigation__information--share {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
.dashboard__navigation--information .navigation__information--share-link {
  font-family: "MulishSemiBold", sans-serif;
  font-size: 16px;
  color: #4E7BEF;
  text-decoration: none;
}
.dashboard__navigation--information .navigation__information--share-icon {
  margin-left: 11px;
}
.dashboard__content {
  padding-left: 25px;
  padding-top: 21px;
  width: 100%;
}
.dashboard__content--cards {
  display: flex;
  justify-content: space-between;
}
.dashboard__content--cards .content__card {
  background: #ffffff;
  box-shadow: 0px 16px 24px rgba(4, 0, 52, 0.06), 0px 2px 6px rgba(4, 0, 52, 0.04), 0px 0px 1px rgba(4, 0, 52, 0.04);
  border-radius: 20px;
  width: 100%;
  max-width: 315px;
  height: 144px;
  padding-top: 30px;
  padding-left: 50px;
}
.dashboard__content--cards .content__card--title h2 {
  font-family: "MulishRegular", sans-serif;
  font-size: 20px;
  color: #040034;
  letter-spacing: -0.3px;
}
.dashboard__content--cards .content__card--icon {
  margin-right: 10px;
  background: rgba(4, 0, 52, 0.04);
  border-radius: 50%;
}
.dashboard__content--cards .content__card--icon img {
  padding: 11px 9px;
}
.dashboard__content--cards .content__card--count span {
  font-family: "MulishBold", sans-serif;
  font-size: 26px;
  color: #040034;
}
.dashboard__content--cards .content__card--statist {
  display: flex;
  margin-top: 15px;
}
.dashboard__transact {
  margin-top: 40px;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 16px 24px rgba(4, 0, 52, 0.06), 0px 2px 6px rgba(4, 0, 52, 0.04), 0px 0px 1px rgba(4, 0, 52, 0.04);
  border-radius: 9px;
}
.dashboard__transact--title h2 {
  font-family: "MulishSemiBold", sans-serif;
  font-size: 18px;
  color: #040034;
}
.dashboard__transact .transact__table {
  padding-right: 20px;
  margin-top: 25px;
}
.dashboard__transact .transact__table--header {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 13px;
}
.dashboard__transact .transact__table--header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #DAD9DE;
}
.dashboard__transact .transact__table--title {
  font-family: "MulishRegular", sans-serif;
  font-size: 16px;
  color: #DAD9DE;
}
.dashboard__transact .transact__table--item {
  font-family: "MulishRegular", sans-serif;
  font-size: 14px;
  color: #040034;
  margin: 22px 0;
}
.dashboard__transact .transact__table--item.status-refunded {
  color: #EA4C67;
  width: 100%;
  max-width: 116px;
  height: 25px;
  background: rgba(234, 76, 103, 0.1);
  text-align: center;
  border-radius: 5px;
}
.dashboard__transact .transact__table--item.status-paid {
  color: #040034;
  width: 100%;
  max-width: 116px;
  height: 25px;
  background: rgba(86, 209, 65, 0.08);
  text-align: center;
  border-radius: 5px;
}
.dashboard__transact .transact__table--row {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.dashboard__transact .transact__table--row::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #DAD9DE;
}

.addprod {
  width: 100%;
  padding-left: 25px;
  padding-top: 23px;
}
.addprod__filter {
  position: relative;
}
.addprod__filter .filter__blocks {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(4, 0, 52, 0.08);
  border-radius: 9px;
  cursor: pointer;
}
.addprod__filter .filter__blocks--item {
  width: 100%;
  max-width: 328px;
  height: 68px;
  padding: 20px 20px;
}
.addprod__filter .filter__blocks--item:not(:last-child) {
  border-right: 1px solid #DAD9DE;
}
.addprod__filter .filter__blocks--item:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addprod__filter .filter__blocks--item .blocks__item--title h2 {
  font-family: "MulishBold", sans-serif;
  font-size: 18px;
  color: #040034;
}
.addprod__filter .filter__body {
  background-color: #ffffff;
  width: 100%;
  display: none;
  justify-content: space-between;
  border-top: 0.5px solid #DAD9DE;
  box-shadow: 0px 4px 10px rgba(4, 0, 52, 0.08);
  border-radius: 0 0 9px 9px;
  position: absolute;
  z-index: 2;
}
.addprod__filter .filter__body.filter__body--active {
  display: flex;
}
.addprod__filter .filter__body .filter__block {
  width: 100%;
  max-width: 328px;
  padding: 20px;
}
.addprod__filter .filter__body .filter__block:not(:last-child) {
  border-right: 1px solid rgba(218, 217, 222, 0.3);
}
.addprod__filter .filter__body .filter__block--search {
  max-width: 254px;
}
.addprod__filter .filter__body .filter__block--search input {
  width: 100%;
  height: 41px;
  background-color: #ffffff;
  border: 0.5px solid #DAD9DE;
  border-radius: 9px;
  padding-left: 45px;
  background-image: url("../images/marketplace_categories/search.svg");
  background-repeat: no-repeat;
  background-position: 15px 10px;
}
.addprod__filter .filter__body .filter__block--search input::placeholder {
  font-family: "MulishRegular", sans-serif;
  font-size: 14px;
}
.addprod__filter .filter__body .filter__block--brand {
  width: 100%;
  height: 100%;
  max-height: 245px;
  overflow-y: auto;
  margin-top: 20px;
}
.addprod__filter .filter__body .filter__block--brand .brand__item {
  cursor: pointer;
  width: 100%;
  max-width: 221px;
  height: 41px;
  padding: 6px 22px 12px 8px;
  border: 0.5px solid #DAD9DE;
  border-radius: 9px;
  background-color: #ffffff;
  font-family: "MulishRegular", sans-serif;
  font-size: 17px;
  color: #040034;
  transition: box-shadow 0.1s ease-in;
}
.addprod__filter .filter__body .filter__block--brand .brand__item:hover {
  box-shadow: 0px 2px 4px rgba(4, 0, 52, 0.1);
}
.addprod__filter .filter__body .filter__block--brand .brand__item:not(:last-child) {
  margin-bottom: 10px;
}
.addprod__filter .filter__body .filter__block--buttons {
  display: flex;
  justify-content: space-between;
}
.addprod__filter .filter__body .filter__block--buttons div {
  cursor: pointer;
  width: 100%;
  max-width: 134px;
  height: 41px;
  padding: 7px 0 0 14px;
  font-family: "MulishRegular", sans-serif;
  font-size: 17px;
  color: #040034;
  border-radius: 9px;
  border: 0.5px solid #DAD9DE;
  background-color: #ffffff;
  transition: box-shadow 0.1s ease-in;
}
.addprod__filter .filter__body .filter__block--buttons div:hover {
  box-shadow: 0px 2px 4px rgba(4, 0, 52, 0.1);
}
.addprod__filter .filter__body .filter__block--inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.addprod__filter .filter__body .filter__block--input input {
  width: 100%;
  max-width: 134px;
  height: 41px;
  font-family: "MulishRegular", sans-serif;
  font-size: 17px;
  color: #040034;
  border-radius: 9px;
  border: 0.5px solid #DAD9DE;
  background-color: #ffffff;
  padding-left: 14px;
}
.addprod__filter .filter__body .filter__block--input input::placeholder {
  font-family: "MulishRegular", sans-serif;
  font-size: 17px;
  color: #040034;
}
.addprod__filter .filter__body .filter__block--usage {
  padding-top: 160px;
  padding-left: 35px;
}
.addprod__filter .filter__body .filter__block--usage .block__usage--buttons button {
  cursor: pointer;
  width: 100%;
  max-width: 110px;
  height: 41px;
  background: #ffffff;
  color: #040034;
  font-family: "MulishRegular", sans-serif;
  font-size: 16px;
  border: 0.5px solid #DAD9DE;
  border-radius: 9px;
}
.addprod__filter .filter__body .filter__block--usage .block__usage--buttons button:last-child {
  font-family: "MulishBold", sans-serif;
  border: 0.5px solid #040034;
  margin-left: 11px;
}
.addprod__nav {
  display: flex;
  align-items: center;
  margin-top: 14px;
  position: relative;
}
.addprod__nav::after {
  content: "";
  position: absolute;
  bottom: -5.6px;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #DAD9DE;
}
.addprod__nav--item {
  cursor: pointer;
}
.addprod__nav--item:not(:last-child) {
  margin-right: 30px;
}
.addprod__nav--item h2 {
  font-family: "MulishBold", sans-serif;
  font-size: 20px;
  color: #DAD9DE;
}
.addprod__nav--item.addprod-nav-active h2 {
  color: #040034;
  position: relative;
}
.addprod__nav--item.addprod-nav-active h2::after {
  content: "";
  position: absolute;
  bottom: -6.5px;
  right: 0;
  width: 100%;
  max-width: 120px;
  height: 3px;
  background-color: #040034;
}
.addprod__table {
  margin-top: 20px;
  background: #ffffff;
  box-shadow: 0px 16px 24px rgba(4, 0, 52, 0.06), 0px 2px 6px rgba(4, 0, 52, 0.04), 0px 0px 1px rgba(4, 0, 52, 0.04);
  border-radius: 9px;
}
.addprod__table--head {
  padding-top: 35px;
  padding-bottom: 7px;
  border-bottom: 1px solid #DAD9DE;
}
.addprod__table--head .table__head--item h4 {
  font-family: "MulishRegular", sans-serif;
  font-size: 16px;
  color: #DAD9DE;
}
.addprod__table--head .table__head--item:last-child {
  padding-left: 44px;
}
.addprod__table--head .table__head--item:first-child h4 {
  padding-left: 40px;
}
.addprod__table--body {
  padding-bottom: 20px;
}
.addprod__table--body .table__body--row {
  padding: 8px 0;
  border-bottom: 1px solid #DAD9DE;
}
.addprod__table--body .table__body--row:hover {
  box-shadow: 0 -3px 10px rgba(4, 0, 52, 0.08);
  border-radius: 9px;
}
.addprod__table--body .table__product--image {
  padding-left: 40px;
}
.addprod__table--body .table__product--desc .product__desc--stock {
  display: flex;
  align-items: center;
  margin-top: 9px;
}
.addprod__table--body .table__product--desc .product__desc--stock span {
  font-family: "MulishRegular", sans-serif;
  font-size: 14px;
  color: #040034;
}
.addprod__table--body .table__product--desc .product__desc--text {
  font-family: "MulishLight", sans-serif;
  font-size: 14px;
  color: #040034;
  width: 100%;
  max-width: 197px;
  margin-top: 8px;
  line-height: 16px;
}
.addprod__table--body .table__product--desc .product__desc--text strong {
  font-family: "MulishBold", sans-serif;
}
.addprod__table--body .table__product--desc .product--indicator {
  display: block;
  width: 10px;
  height: 10px;
  background: #56D141;
  border-radius: 50%;
  margin-right: 4.32px;
}
.addprod__table--body .table__product--price, .addprod__table--body .table__product--earnings {
  padding-top: 26px;
}
.addprod__table--body .table__product--price span, .addprod__table--body .table__product--earnings span {
  font-family: "MulishMedium", sans-serif;
  font-size: 16px;
  color: #040034;
}
.addprod__table--body .table__product--earnings {
  padding-left: 70px;
}
.addprod__table--body .table__product--add {
  padding-top: 23px;
  padding-left: 72px;
}
.addprod__table--body .table__product--add button {
  display: inline-block;
  width: 100%;
  max-width: 58px;
  height: 30px;
  background-color: #040034;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  font-family: "MulishRegular", sans-serif;
  font-size: 14px;
  cursor: pointer;
}
.addprod__table--body .table__product--added {
  padding-top: 23px;
  padding-left: 72px;
}
.addprod__table--body .table__product--added button {
  display: inline-block;
  width: 100%;
  max-width: 58px;
  height: 30px;
  background-color: #DAD9DE;
  border: none;
  color: #040034;
  border-radius: 4px;
  font-family: "MulishRegular", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.row {
  margin: 0 !important;
}

.order_page__table {
  background: #ffffff;
  box-shadow: 0px 16px 24px rgba(4, 0, 52, 0.06), 0px 2px 6px rgba(4, 0, 52, 0.04), 0px 0px 1px rgba(4, 0, 52, 0.04);
  border-radius: 9px;
  margin-top: 42px;
}
.order_page__table--head {
  display: flex;
  justify-content: space-between;
  padding: 28px 30px 10px;
  border-bottom: 0.5px solid #DAD9DE;
}
.order_page__table--head .table__head--item h4 {
  font-family: "MulishRegular", sans-serif;
  font-size: 16px;
  color: #DAD9DE;
}
.order_page__table--body {
  padding-bottom: 28px;
}
.order_page__table--body .table__body--row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 0.5px solid #DAD9DE;
}
.order_page__table--body .table__body--row:hover {
  box-shadow: 0 -3px 10px rgba(4, 0, 52, 0.08);
  border-radius: 9px;
}
.order_page__table--body .table__body--item span {
  font-family: "MulishRegular", sans-serif;
  font-size: 14px;
  color: #040034;
}
.order_page__table--body .table__body--status {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 116px;
  height: 25px;
}
.order_page__table--body .table__body--status span {
  font-family: "MulishRegular", sans-serif;
  font-size: 14px;
}
.order_page__table--body .table__body--status.canceled {
  background: rgba(234, 76, 103, 0.1);
}
.order_page__table--body .table__body--status.canceled span {
  color: #EA4C67;
}
.order_page__table--body .table__body--status.shipped {
  background: rgba(86, 209, 65, 0.08);
}
.order_page__table--body .table__body--status.shipped span {
  color: #56D141;
}
.order_page__table--body .table__body--status.delivered {
  background: rgba(4, 0, 52, 0.1);
}
.order_page__table--body .table__body--status.delivered span {
  color: #040034;
}
.order_page__table--body .table__body--status.pending {
  background: rgba(255, 158, 13, 0.1);
}
.order_page__table--body .table__body--status.pending span {
  color: #FF9E0D;
}
.order_page__filter--buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.order_page__filter--buttons div {
  cursor: pointer;
  padding: 6.8px 10px;
  background: #ffffff;
  border: 0.5px solid #DAD9DE;
  border-radius: 9px;
  font-family: "MulishRegular", sans-serif;
  font-size: 17px;
  color: #040034;
  transition: box-shadow 0.1s ease-in;
  margin-bottom: 10px;
}
.order_page__filter--buttons div.active-filter-btn {
  box-shadow: 0px 2px 4px rgba(4, 0, 52, 0.1);
}
.order_page__filter--buttons.last-buttons div:nth-child(5) {
  transform: translateX(-45px);
}
.order_page__usage {
  padding-top: 44px !important;
  padding-left: 50px !important;
}

.cart {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.cart__products {
  width: 100%;
  max-width: 792px;
}
.cart__product {
  border: 0.5px solid #DAD9DE;
  border-radius: 9px;
  display: flex;
  width: 792px;
  padding: 2px;
  margin-bottom: 10px;
  background-color: #ffffff;
}
.cart__product--body {
  padding-left: 20px;
}
.cart__product--name {
  padding-top: 5px;
}
.cart__product--name__text {
  font-family: "MulishLight", sans-serif;
  color: #040034;
  font-size: 14px;
}
.cart__product--name__text strong {
  font-family: "MulishBold", sans-serif;
}
.cart__product--specific {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 111px;
  padding-top: 8px;
}
.cart__product--specific__color {
  width: 23px;
  height: 23px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #EF8585;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__product--specific__color .fa_border {
  width: 18px;
  height: 18px;
  background-color: #EF8585;
  border-radius: 50%;
}
.cart__product--specific__sizes {
  cursor: pointer;
  width: 23px;
  height: 23px;
  border: 0.5px solid #DAD9DE;
  border-radius: 9px;
  position: relative;
}
.cart__product--specific__sizes p {
  font-family: "MulishRegular", sans-serif;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}
.cart__product--specific__volume {
  cursor: pointer;
  border: 0.5px solid #DAD9DE;
  border-radius: 9px;
  height: 23px;
  padding: 0 4px;
}
.cart__product--specific__volume p {
  font-family: "MulishLight", sans-serif;
  font-size: 14px;
}
.cart__product--quant {
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: #040034;
  font-size: 14px;
  font-family: "MulishRegular", sans-serif;
  border: 0.5px solid #DAD9DE;
  justify-content: space-evenly;
  width: 100%;
  max-width: 80px;
  height: 30px;
  border-radius: 9px;
}
.cart__product--quant div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.cart__product--quant div:nth-child(odd) {
  cursor: pointer;
}
.cart__product--quant__minus {
  display: inline-block;
  width: 11px;
  height: 1px;
  background-color: #040034;
}
.cart__product--quant__plus {
  display: inline-block;
  width: 11px;
  height: 1px;
  background-color: #040034;
  position: relative;
}
.cart__product--quant__plus::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 5px;
  height: 11px;
  width: 1px;
  background-color: #040034;
}
.cart__product--price {
  display: inline-block;
  font-family: "MulishBold", sans-serif;
  font-size: 20px;
  color: #040034;
  margin-top: 23px;
}
.cart__product--remove {
  margin: 30px 30px 0 auto;
}
.cart__product--remove p {
  color: #EA4C67;
  font-family: "MulishBold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.orders {
  padding-top: 20px;
  padding-left: 27px;
  width: 100%;
}
.orders__inner {
  background: #ffffff;
  box-shadow: 0px 16px 24px rgba(4, 0, 52, 0.06), 0px 2px 6px rgba(4, 0, 52, 0.04), 0px 0px 1px rgba(4, 0, 52, 0.04);
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
}
.orders__ordernum {
  padding: 22px 38px 15px 38px;
}
.orders__ordernum--head {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.orders__ordernum--head .ordernum__head--title h4 {
  font-family: "MulishBold", sans-serif;
  font-size: 14px;
  color: #DAD9DE;
}
.orders__ordernum--head .ordernum__head--title:first-child {
  margin-right: 55px;
}
.orders__ordernum--products {
  display: flex;
  align-items: flex-start;
}
.orders__ordernum--products:not(:last-child) {
  margin-bottom: 30px;
}
.orders__ordernum--products .ordernum__products--desc {
  display: block;
  width: 100%;
  max-width: 186px;
  line-height: 1.2;
}
.orders__ordernum--products .ordernum__products--name {
  padding: 0;
}
.orders__ordernum--products .ordernum__products--body {
  padding-left: 50px;
}
.orders__ordernum--products .ordernum__products--count {
  display: flex;
  align-items: center;
  padding-left: 86px;
}
.orders__ordernum--products .ordernum__products--count div {
  font-size: 14px;
  font-family: "MulishRegular", sans-serif;
  color: #040034;
}
.orders__ordernum--products .ordernum__products--count div:nth-child(2) {
  padding: 0 13px;
}
.orders__ordernum--total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.orders__ordernum--total h2 {
  font-family: "MulishBold", sans-serif;
  font-size: 14px;
  color: #040034;
}
.orders__customer {
  padding: 22px 51px 15px 45px;
  float: right;
  border-left: 0.5px solid #DAD9DE;
}
.orders__customer--body {
  line-height: 1;
}
.orders__customer--body p {
  font-family: "MulishRegular", sans-serif;
  font-size: 14px;
  color: #040034;
  width: 100%;
  max-width: 189px;
}
.orders__customer--body .customer__body--address {
  margin-top: 7px;
  line-height: 1.5;
}
.orders__customer--body .customer__body--number {
  margin-top: 25px;
}
.orders__customer--body .customer__body--email {
  margin-top: 10px;
}
.orders__customer--status {
  display: flex;
  align-items: center;
  margin-top: 65px;
  position: relative;
}
.orders__customer--status .customer__status--info {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 25px;
}
.orders__customer--status .customer__status--info span {
  font-family: "MulishRegular", sans-serif;
  font-size: 14px;
}
.orders__customer--status .customer__status--info.canceled {
  background: rgba(234, 76, 103, 0.1);
}
.orders__customer--status .customer__status--info.canceled span {
  color: #EA4C67;
}
.orders__customer--status .customer__status--info.shipped {
  background: rgba(86, 209, 65, 0.08);
}
.orders__customer--status .customer__status--info.shipped span {
  color: #56D141;
}
.orders__customer--status .customer__status--info.delivered {
  background: rgba(4, 0, 52, 0.1);
}
.orders__customer--status .customer__status--info.delivered span {
  color: #040034;
}
.orders__customer--status .customer__status--info.pending {
  background: rgba(255, 158, 13, 0.1);
}
.orders__customer--status .customer__status--info.pending span {
  color: #FF9E0D;
}
.orders__customer--status .customer__status--set {
  cursor: pointer;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(4, 0, 52, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.orders__customer--status .customer__status--set .fa_border {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #040034;
  border-radius: 50%;
}
.orders__customer--status .customer__status--variant {
  display: none;
  position: absolute;
  padding: 20px;
  background-color: #ffffff;
  filter: drop-shadow(0px 4px 8px rgba(4, 0, 52, 0.1));
  border-radius: 9px;
  top: -58px;
  left: -40px;
}
.orders__customer--status .customer__status--variant .customer__status--info {
  cursor: pointer;
}
.orders__customer--status .customer__status--variant .customer__status--info:not(:last-child) {
  margin-bottom: 15px;
}
.orders__customer--status .customer__status--variant.active-variant {
  display: block;
}

/*# sourceMappingURL=company.css.map */
