@import 'common/_normalize'
@import 'common/_variables'
@import 'common/humburger/_humburger'

@import 'common/_header'

.container
  width: calc(100% - 120px)
  max-width: 1320px
  margin: 0 auto

.btn
  border-radius: 24.5px
  text-decoration: none
  font-family: $mulish-medium

