.account
  &__products
    padding-top: 43px
    padding-left: 142px
  &__product
    &--specific
      padding-top: 0!important
    &--price
      margin-top: 4px!important
    &--info
      margin-top: 2px
      p
        font-family: $mulish-light
        font-size: 14px
        color: $dark-blue
    &--canceled
      margin: 28px 29px 0 auto!important
    &--return
      margin: 28px 28px 0 auto!important
      display: flex
      flex-direction: column
      align-items: flex-end
    &--delivered
      display: flex
      align-items: center
      margin-top: 57px
      p
        color: $dark-blue!important
        margin-left: 4px
        cursor: default!important
    &--indicator
      display: block
      width: 10px
      height: 10px
      background: #56D141
      border-radius: 50%
