.addprod
  width: 100%
  padding-left: 25px
  padding-top: 23px
  &__filter
    position: relative
    & .filter
      &__blocks
        display: flex
        justify-content: space-between
        box-shadow: 0px 4px 10px rgba(4, 0, 52, 0.08)
        border-radius: 9px
        cursor: pointer
        &--item
          width: 100%
          max-width: 328px
          height: 68px
          padding: 20px 20px
          &:not(:last-child)
            border-right: 1px solid #DAD9DE
          &:last-child
            display: flex
            justify-content: space-between
            align-items: center
          & .blocks
            &__item
              &--title
                h2
                  font-family: $mulish-bold
                  font-size: 18px
                  color: $dark-blue
      &__body
        background-color: $white
        width: 100%
        display: none
        justify-content: space-between
        border-top: 0.5px solid #DAD9DE
        box-shadow: 0px 4px 10px rgba(4, 0, 52, 0.08)
        border-radius: 0 0 9px 9px
        position: absolute
        z-index: 2
        &.filter__body--active
          display: flex
        & .filter
          &__block
            width: 100%
            max-width: 328px
            padding: 20px
            &:not(:last-child)
              border-right: 1px solid rgba(218, 217, 222, 0.3)
            &--search
              max-width: 254px
              input
                width: 100%
                height: 41px
                background-color: $white
                border: 0.5px solid #DAD9DE
                border-radius: 9px
                padding-left: 45px
                background-image: url('../images/marketplace_categories/search.svg')
                background-repeat: no-repeat
                background-position: 15px 10px
                &::placeholder
                  font-family: $mulish-regular
                  font-size: 14px
            &--brand
              width: 100%
              height: 100%
              max-height: 245px
              overflow-y: auto
              margin-top: 20px
              & .brand
                &__item
                  cursor: pointer
                  width: 100%
                  max-width: 221px
                  height: 41px
                  padding: 6px 22px 12px 8px
                  border: 0.5px solid #DAD9DE
                  border-radius: 9px
                  background-color: $white
                  font-family: $mulish-regular
                  font-size: 17px
                  color: $dark-blue
                  transition: box-shadow .1s ease-in
                  &:hover
                    box-shadow: 0px 2px 4px rgba(4, 0, 52, 0.1)
                  &:not(:last-child)
                    margin-bottom: 10px
            &--buttons
              display: flex
              justify-content: space-between
              div
                cursor: pointer
                width: 100%
                max-width: 134px
                height: 41px
                padding: 7px 0 0 14px
                font-family: $mulish-regular
                font-size: 17px
                color: $dark-blue
                border-radius: 9px
                border: 0.5px solid #DAD9DE
                background-color: $white
                transition: box-shadow .1s ease-in
                &:hover
                  box-shadow: 0px 2px 4px rgba(4, 0, 52, 0.1)
            &--inputs
              display: flex
              justify-content: space-between
              margin-top: 20px
            &--input
              input
                width: 100%
                max-width: 134px
                height: 41px
                font-family: $mulish-regular
                font-size: 17px
                color: $dark-blue
                border-radius: 9px
                border: 0.5px solid #DAD9DE
                background-color: $white
                padding-left: 14px
                &::placeholder
                  font-family: $mulish-regular
                  font-size: 17px
                  color: $dark-blue
            &--usage
              padding-top: 160px
              padding-left: 35px
              & .block
                &__usage
                  &--buttons
                    button
                      cursor: pointer
                      width: 100%
                      max-width: 110px
                      height: 41px
                      background: $white
                      color: $dark-blue
                      font-family: $mulish-regular
                      font-size: 16px
                      border: 0.5px solid #DAD9DE
                      border-radius: 9px
                      &:last-child
                        font-family: $mulish-bold
                        border: 0.5px solid $dark-blue
                        margin-left: 11px

  &__nav
    display: flex
    align-items: center
    margin-top: 14px
    position: relative
    &::after
      content: ''
      position: absolute
      bottom: -5.6px
      z-index: -1
      left: 0
      width: 100%
      height: 2px
      background-color: #DAD9DE
    &--item
      cursor: pointer
      &:not(:last-child)
        margin-right: 30px
      h2
        font-family: $mulish-bold
        font-size: 20px
        color: #DAD9DE
      &.addprod-nav-active
        h2
          color: $dark-blue
          position: relative
          &::after
            content: ''
            position: absolute
            bottom: -6.5px
            right: 0
            width: 100%
            max-width: 120px
            height: 3px
            background-color: $dark-blue

  &__table
    margin-top: 20px
    background: $white
    box-shadow: 0px 16px 24px rgba(4, 0, 52, 0.06), 0px 2px 6px rgba(4, 0, 52, 0.04), 0px 0px 1px rgba(4, 0, 52, 0.04)
    border-radius: 9px
    &--head
      padding-top: 35px
      padding-bottom: 7px
      border-bottom: 1px solid #DAD9DE
      & .table
        &__head
          &--item
            h4
              font-family: $mulish-regular
              font-size: 16px
              color: #DAD9DE
            &:last-child
              padding-left: 44px
            &:first-child
              h4
                padding-left: 40px
    &--body
      padding-bottom: 20px
      & .table
        &__body
          &--row
            padding: 8px 0
            border-bottom: 1px solid #DAD9DE
            &:hover
              box-shadow: 0 -3px 10px rgba(4,0,52, .08)
              border-radius: 9px
        &__product
          &--image
            padding-left: 40px
          &--desc
            & .product
              &__desc
                &--stock
                  display: flex
                  align-items: center
                  margin-top: 9px
                  span
                    font-family: $mulish-regular
                    font-size: 14px
                    color: $dark-blue
                &--text
                  font-family: $mulish-light
                  font-size: 14px
                  color: $dark-blue
                  width: 100%
                  max-width: 197px
                  margin-top: 8px
                  line-height: 16px
                  strong
                    font-family: $mulish-bold
              &--indicator
                display: block
                width: 10px
                height: 10px
                background: #56D141
                border-radius: 50%
                margin-right: 4.32px
          &--price, &--earnings
            padding-top: 26px
            span
              font-family: $mulish-medium
              font-size: 16px
              color: $dark-blue
          &--earnings
            padding-left: 70px
          &--add
            padding-top: 23px
            padding-left: 72px
            button
              display: inline-block
              width: 100%
              max-width: 58px
              height: 30px
              background-color: $dark-blue
              border: none
              color: $white
              border-radius: 4px
              font-family: $mulish-regular
              font-size: 14px
              cursor: pointer
          &--added
            padding-top: 23px
            padding-left: 72px
            button
              display: inline-block
              width: 100%
              max-width: 58px
              height: 30px
              background-color: #DAD9DE
              border: none
              color: $dark-blue
              border-radius: 4px
              font-family: $mulish-regular
              font-size: 14px
              cursor: pointer


.row
  margin: 0!important